<!--A Design by W3layouts
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
<title>BreadToShred</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta charset="utf-8">
<meta name="keywords" content="Global Food Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- bootstrap-css -->
<link href="{% static 'css/bootstrap.css' %}" rel="stylesheet" type="text/css" media="all" />
<!--// bootstrap-css -->
<!-- css -->
<link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css" media="all" />
<!--// css -->
<!-- font-awesome icons -->
<link href="{% static 'css/font-awesome.css' %}" rel="stylesheet"> 
<!-- //font-awesome icons -->
<link rel="stylesheet" href="{% static 'css/owl.carousel.css' %}" type="text/css" media="all">
<link href="{% static 'css/owl.theme.css' %}" rel="stylesheet">
<!-- font -->
<link href="//fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
<link href="//fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i" rel="stylesheet">
<!-- //font -->
<script src="{% static 'js/jquery-1.11.1.min.js' %}"></script>
<script src="{% static 'js/bootstrap.js' %}"></script>
<script type="text/javascript">
	jQuery(document).ready(function($) {
		$(".scroll").click(function(event){		
			event.preventDefault();
			$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
		});
	});
</script> 
<!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
<![endif]-->
<script>
$(document).ready(function() { 
	$("#owl-demo").owlCarousel({
 
		autoPlay: 3000, //Set AutoPlay to 3 seconds
		autoPlay:true,
		items : 3,
		itemsDesktop : [640,5],
		itemsDesktopSmall : [414,4]
 
	});
	
}); 
</script>
</head>
<body>
	<!-- banner -->
	<div class="banner">
		<div class="header">
			<div class="container">
				<div class="header-left">
					<div class="w3layouts-logo">
						<h1>
							<a href="index.html">Bread To Shred</a>
						</h1>
					</div>
				</div>
				<div class="header-right">
					<a href="/logout/"><p><i class="fa fa-sign-out" aria-hidden="true"></i>  Logout</p></a>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
		<div class="header-bottom">
			<div class="container">
				<div class="top-nav">
						<nav class="navbar navbar-default">
								<div class="navbar-header">
									<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
										<span class="sr-only">Toggle navigation</span>
										<span class="icon-bar"></span>
										<span class="icon-bar"></span>
										<span class="icon-bar"></span>
									</button>
								</div>
							<!-- Collect the nav links, forms, and other content for toggling -->
							<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
								<ul class="nav navbar-nav">
									<li><a href="/home/">Home</a></li>
									<li><a href="/about/">About</a></li>
									<li><a href="/gallery/">Gallery</a></li>
									<li><a href="/calorie/">Calorie Counter</a></li>
									<li><a class="active list-border" href="/blog/">Blog</a></li>
								</ul>	
								<div class="clearfix"></div>
							</div>	
						</nav>		
				</div>
				<!-- w3-banner -->
				<div class="agileits-top-heading">
					<h2>BLOGS</h2>
				</div>
				<!-- //w3-banner -->
			</div>
		</div>
	</div>
	<!-- //banner -->
	<!-- blog1-->
	<div class="about">
		<div class="container">
			<div class="about-grids">
				<div class="col-md-5 wthree-about-left">
					<div class="wthree-about-left-info">
						<img src="{% static 'images/blog1.jpg' %}" class="img-rounded" width="400" height="400" alt="" />
					</div>
				</div>
				<div class="col-md-7 agileits-about-right">
					<h5>Dr.Joan Salge Blake</h5>
					<h5>Are You A Triangular Eating? Read on to find out more…..</h5>

<p>If I had a dollar for everyone I know who is a triangle eater, I would be a wealthy person.  What’s a triangle eater?  It’s a person who eats little to no breakfast, a modest lunch, but consumes most of his/her daily calories starting late in the afternoon and ending when Jimmy Kimmel signs off. </p>
					<p>Since food is the fuel your body runs on, this triangular approach to eating makes absolutely no sense.  In essence, you’re depriving your body of its precious fuel, food, during the day when you need it the most. This is analogous to getting into your car in the morning with an empty gas tank and expecting to be able to drive it to work.  Your four wheel baby isn’t going to move until you fill the tank with some gasoline, the fuel it runs on.</p>

<p>Your body is just like your car.  It thrives on the carbohydrate, glucose, found in grains, fruits, veggies, dairy foods, and nuts and seeds. In fact, your brain relies solely on glucose to function. So if you want to enhance your memory, improve your cognitive ability, and help increase your attention span, fuel your brain with food it needs to ace your day.  If that’s not enough incentive to eat more during the day, emerging research is suggesting that consuming the major of your calories later in the day may not be kind to your waist.</p>

<p>The perfect energizing meal contains not only carbohydrates but also some protein (nut, meat, fish, and poultry) and some healthy fats (oils and nuts).  Here are some meal suggestions:</p>

<p>Breakfast: Oatmeal or whole grain cereal doused with milk and topped with berries and nuts.</p>

<p>Lunch: Salad with grilled chicken, a light dressing, and a whole grain roll</p>

<p>Afternoon snack: A yogurt and a piece of fruit</p>

<p>Dinner: Baked salmon, broccoli, and brown rice (Keep the portions smaller compared to your other meals.)</p>

<p>Flip your triangular pattern of eating to consume more during the day and less at night to fuel your body and brain.</p>
					</p>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
	<!-- //blog1-->
	<!-- blog2-->
	<div class="about">
		<div class="container">
			<div class="about-grids">
				<div class="col-md-5 wthree-about-left">
					<div class="wthree-about-left-info">
						<img src="{% static 'images/blog2.jpg' %}" class="img-rounded" width="400" height="400" alt="" />
					</div>
				</div>
				<div class="col-md-7 agileits-about-right">
					<h5>Dr.Roxanne B. Sukol, MD</h5>
					<h5>Don’t Spike Your Blood Sugar!</h5>

<p>Imagine a diabetic character on TV who suddenly begins to act a little strangely, but is not too confused to murmur, “I think my blood sugar is too low.” Everyone on screen runs for something sugary that the character will absorb quickly. Orange juice, or maybe Coke. Sweet drinks like juices and sodas, with up to 12 (!) teaspoons of sugar per can, are great for spiking your blood sugar. None for me, thanks.</p>

<p>Here’s what I found in the “beverage center” at our local Walmart. I especially wanted to look at product names, because the more creative the brand name, the more highly manufactured it is likely to be.</p>

<p>There was Sunny D, Powerade, Gatorade (11 flavors), Juicy Juice, Country Time, Tahitian Treat, Hawaiian Punch (many flavors), “Propel vitamin enhanced water beverage mix” (“raspberry lemonade naturally and artificially flavored,” and “berry naturally flavored”), and “Dasani Natural Lemon Flavored Water Beverage.” V8 Splash (not V8 tomato juice) was available in mango peach, fruit medley, berry blend, and tropical blend, which also had a “diet” version.</p>

<p>Caffeinated or coffee-flavored beverages included Red Bull energy drink (original and sugar free), Monster (regular, mega and lo-carb), Starbucks Frappucino coffee drink in 3 flavors (coffee, mocha, vanilla), and Starbucks doubleshot espresso & cream premium coffee drink (regular and light).</p>
<p>Country Time Lemonade Drink Mix is “reminiscent of a time when it was easier to get good old-fashioned lemonade.” The powder mix was first marketed in 1975 by a TV character named “Grandpa.” Cans and bottles arrived in 1982. Then came Pink Lemonade (1995), Iced Tea with Lemon (2003), Strawberry Lemonade (2004), and Country Time Light Lemonade (2005). The Strawberry Lemonade is “the perfect blend of two favorite flavors: sweet, sun-ripened strawberries and the classic taste of lemonade.” I recommend buying strawberries and lemons, and mixing in some sugar and water.

In addition to V8 and V8 Splash, V8 makes a fruit juice product called “V8 Vfusion.” Its first ingredient is sweet potato juice. At Walmart they carried acai-mixed berry, strawberry-banana, pomegranate-blueberry, goji-raspberry,and passionfruit-tangerine flavors. The acai was listed 6th, the strawberry 7th, and the banana 8th in the list of ingredients. That’s because consumers aren’t eating tangerines, passionfruit or berries; they’re eating the names. They’re not even eating sweet potatoes. And the price we all pay is much higher than the one marked on the bottle.</p>

<p>Among powdered mixes, Crystal Light takes the cake. There was Crystal Light natural lemonade flavor, natural pink lemonade flavor, peach artificial flavor, raspberry lemonade flavor, white grape artificial flavor, crystal light red tea, crystal light white tea and, believe it or not, “crystal light green tea natural honey lemon flavor with other natural flavor.” That’s creative. The word “natural,” which appears twice, describes not the product, but its flavor, and the juxtaposition of “natural,” “flavor,” and “artificial” is curious. You can also find Crystal Light live active (with 3g of fiber), Crystal Light energy, Crystal Light focus, or Crystal Light sunrise. Wouldn’t it be better to get some rest and exercise?</p>

<p>So what else is there to drink?  If you don’t feel like a glass of cool water from the tap, or a glass of milk, or unsweetened iced tea, then try this recipe. It’s not sugar-free, but it’s got a lot less than manufactured stuff. Dissolve ¼ c. sugar with ¼ c. water in a saucepan over low heat, and set it aside. While it cools, mix together 2 cups of water and 1 + 1/2 c. lemon juice (fresh squeezed if preferred) in a large pitcher filled halfway to the top with ice. Stir as much or as little syrup as you like into the contents of the pitcher. Add lemon slices, strawberry slices, basil or mint leaves, slightly bruised, to garnish. Cheers! </p>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
	<!-- //blog2-->
		<!-- blog3-->
	<div class="about">
		<div class="container">
			<div class="about-grids">
				<div class="col-md-5 wthree-about-left">
					<div class="wthree-about-left-info">
						<img src="{% static 'images/blog3.jpg' %}" class="img-rounded" width="400" height="400" alt="" />
					</div>
				</div>
				<div class="col-md-7 agileits-about-right">
					<h5>Sagan Morrow</h5>
					<h5>Three More Ways to Stay Healthy When You Work from Home</h5>

<p>Here are a few more little ways that I stay healthy as a home-based small business owner:</p>
					<p>1) Getting in a little movement every day. If I’m not skiing, skating, or walking, I’m doing yoga, lifting weights at home, or visiting GoodLife Fitness. It doesn’t always have to be a ton of movement, but being active is really important! Sometimes it will be first thing in the morning, and other days it will be little bits of movement throughout the day (and sometimes, it will be a nice combination of the two). The important thing is to squeeze in movement where possible.</p>

<p>2) Taking a day off when I need it. When I worked at a non-profit, I had some flexibility with my hours, so I would often work longer days and bank hours so that I could leave early on Fridays. Now that I have my own business, I can’t usually take full days off (especially not a couple days in a row, or a full weekend!), but I’m getting better at recognizing when I really just need to take 24 hours to myself. If you don’t take the break when your body and mind need it, then your work and your health will suffer.</p>

<p>I usually take either a Friday or a Saturday *mostly* off, and if I end up working on that day, then by Wednesday the following week I’m in desperate need of a day off. So I take it.</p>

<p>3) Letting my workday be flexible. As I’ve mentioned before, my work weeks vary wildly! I’ve found that one of the best things I can do for my mental health is to simply be flexible with how my day goes. There have been some days when I have actually worked for 45 minutes in the morning before deciding that I need a two-hour break… and there are other days when I easily work 12-hour days.</p>

<p>It’s about identifying your peak work hours (which might change from day to day or week to week), and identifying when you need a rest, and fitting your work schedule to match that so that you can be highly productive, produce great work, and take care of your health.</p>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
	<!-- //blog3-->
	<div class="contact">
		<div class="container">
			<div class="wthree-heading">
				<h3>Customer Feedback</h3>
			</div>
			<div class="agile-contact-form">
				<form action="#" method="POST">
					{% csrf_token %}
					<input type="text" name="Name" placeholder="Your Name" required="">
					<input type="email" name="Email" placeholder="Your Email" required="">
					<textarea name="Message" placeholder="Your Message" required=""></textarea>
					<input type="submit" value="SEND">
				</form>
				<div class="w3agile-map">
					<iframe src="https://www.google.com/maps/embed/v1/place?key=AIzaSyBYsGkYnKXoz3ssaqMvpE_Kr79G_At268c
    					&q=Vile+Parle,Mumbai" allowfullscreen=""></iframe>
				</div>

			</div>
		</div>
	</div>
	<!-- footer -->
	<div class="footer">
		<div class="container">
			<div class="agile-footer-grids">
				<div class="col-md-4 agile-footer-grid">
					<h4>History of Us</h4>
					<p>Started in the year 2017 by 3 engineering students to help this generation discuss and view blogs of well-known dietitians. <span>This webpage is our first and we look to have many more if we get a positive response!</span></p>
				</div>
				<div class="col-md-2 agile-footer-grid">
					<h4>Events</h4>
					<ul>
						<li>12th Aug <a href="single.html">Diet Seminar</a></li>
						<li>10th Sept <a href="single.html">Health check-up</a></li>
						<li>24th Sept <a href="single.html">Warm-up session and 5km run</a></li>
						<li>17th Oct <a href="single.html">Yoga Workshop</a></li>
					</ul>
				</div>
				<div class="col-md-2 agile-footer-grid">
					<h4>Navigation</h4>
					<ul>
						<li class="text"><a href="index.html">Home</a></li>
						<li class="text"><a href="about.html">About</a></li>
						<li class="text"><a href="gallery.html">Gallery</a></li>
						<li class="text"><a href="contact.html">Calorie Counter</a></li>
						<li class="text"><a href="icons.html">Discussion</a></li>
						<li class="text"><a href="codes.html">Blogs</a></li>
					</ul>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
	<!-- //footer -->
	<!-- copyright -->
	<div class="agileits-w3layouts-copyright">
		<div class="container">
			<p>© 2017 Bread To Shred. All rights reserved </p>
		</div>
	</div>
	<!-- //copyright -->
	<script src="js/SmoothScroll.min.js"></script>
	<script type="text/javascript" src="js/move-top.js"></script>
	<script type="text/javascript" src="js/easing.js"></script>
	<!-- here stars scrolling icon -->
	<script type="text/javascript">
		$(document).ready(function() {
			/*
				var defaults = {
				containerID: 'toTop', // fading element id
				containerHoverID: 'toTopHover', // fading element hover id
				scrollSpeed: 1200,
				easingType: 'linear' 
				};
			*/
								
			$().UItoTop({ easingType: 'easeOutQuart' });
								
			});
	</script>
	<!-- //here ends scrolling icon -->
	<script src="js/lsb.js"></script>
</body>	
</html>